{% extends 'base.html'%}
{% load static %}

{% block title %}Редактировать пароль{% endblock %}

{% block content %}

<div >
    <div >
        <div>
            <div >
                <div>
                    <h3>Редактирование пароля</h3>
                </div>

                <div >
                    <!-- Сообщения -->
                    {% if messages %}
                        {% for message in messages %}
                            <div>
                                {{ message }}
                                <button type="button" data-bs-dismiss="alert"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        <div>
                            <label >Старый пароль</label>
                            {{ form.old_password }}
                            {% if form.old_password.errors %}
                                <div>{{ form.old_password.errors }}</div>
                            {% endif %}
                        </div>
                        <div >
                            <label >новый пароль</label>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div>{{ form.new_password1.errors }}</div>
                            {% endif %}
                        </div>
                     <div >
                            <label>подтвердите новый пароль</label>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div>{{ form.new_password2.errors }}</div>
                            {% endif %}
                        </div>



                        <!-- Кнопки -->
                        <div>
                            <a href="{% url 'profile' %}">
                                Отмена
                            </a>
                            <button type="submit" >
                                Сохранить изменения
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}